table{
    width: 490px;
    height: 460px;
    margin-top: 10px;
    border: 1px solid;
    background-color: #B6B6B6;
}
div{
    width: 490px;
    height: 150px;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #B6B6B6;
}
tr {
    margin: 10px;
}
table td {
  width: 100px;
  height: 100px;
  border: 2px solid;
  display: inline-block;
  margin: 10px;
  background-color: #B5A595;
}
td p {
  height: 96px;
  width: 96px;
  margin: 0;
  text-align: center;
  font-size: 40px;
  font-weight: bold;

}
.c2{
    background-color: #D7D4CB;
}
.c4{
    background-color: #E3D199;
}
.c8{
    background-color: #F7B969;
}
.c16{
    background-color: #C36604;
}
.c32{
    background-color: #E3280F;
}
.c64{
    background-color: #FE0000;
}
.c128{
    background-color: #DEF37E;
}
.c256{
    background-color: #D7FC2D;
}
.c512{
    background-color: #D9FF00;
}
.c1024{
    background-color: #FFF700;
}
.c2048{
    background-color: black;
    color: white;
}
.c4096{
    background-color: black;
    color: white;
}
